SERVER_PORT=8090

# Telegram TDLib
TG_API_ID=...
TG_API_HASH=...
TG_PHONE=+380...
TG_2FA_PASSWORD=
TG_SESSION_DIR=/data/tdlib

# DB
SPRING_DATASOURCE_URL=jdbc:sqlite:/data/db/app.db

# Bot API toggle (чтобы не ловить 409)
BOT_API_ENABLED=true

# (Опционально) если всё ещё нужно выбирать нативки при build
# TD_NATIVES=linux_amd64_gnu_ssl3
